@font-face {
    font-family: 'Montserrat';
    src: url('http://hb.bizmrg.com/fonts/montserrat/400.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}  


.header{
    width: 100%;
    height: 182.31vw;
    background: #5092DE;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25) inset;
}

.logo_top{
    width: 30.83vw;
    height: 13.54vw;
    padding-left: 10.17vw;
    padding-top: 4.58vw;
}

.number_top{
    padding-top: 10.21vw;
    position: absolute;
    width: 53.13vw;
    height: 6.88vw;
    color: #FFF;
    text-align: center;
    font-size: 2.92vw;
    font-family: Montserrat;
    font-weight: 700;
}

.content_header{
    width: 88.54vw;
    height: 9.38vw;
    padding-top: 56px;
}

.make_future{
    position: absolute;
    padding-left: 20px;
    width: 88.54vw;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.16px;
}

.make_future_small{
    position: absolute;
    padding-top: 45px;
    padding-left: 60px;
    width: 68.54vw;
    height: 30vw;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: Montserrat;
    font-weight: 500;
}

.children{
    position: absolute;
    margin-top: 76px;
    padding-left: 40px;
    width: 293.639px;
    height: 307px;
    flex-shrink: 0;
}

.button_top{
    position: absolute;
    margin-left: 33px;
    margin-top: 379px;
    border: none;
    width: 333px;
    height: 87px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.button_top:hover {
    transition-duration: 0.1s;
    background-color: #c9c7e4;
    
  }

  .button_top:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }

  .button_top:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  

.button_top_text{
    width: 375px;
    height: 46px;
    color: #1853A0;
    text-align: center;
    font-size: 29px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}

.education_mir_robbo{
    padding-top: 64px;
    display: flex;
    width: 100%;
    height: 27px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 19px;
    font-family: Montserrat;
}

.education_mir_robbo_bottom{
    padding-left: 13px;
    display: flex;
    width: 364px;
    height: 168px;
    justify-content: center;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
}

.slides_top{
    margin-left: 46px;
    width: 298px;
    height: 430px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F6FCFF;
    box-shadow: 0px 4px 43px 0px rgba(0, 0, 0, 0.07);
}

.slides_top span{
    padding-top: 21px;
    padding-left: 61px;
    display: flex;
    width: 176px;
    height: 39px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 19px;
    font-family: Montserrat;
    font-weight: 700;

}

.slides_top img{
    padding-top: 31px;
    padding-left: 24px;
    width: 250px;
    height: 250px;
}

.slides_top p{
    display: flex;
    padding-top: 19px;
    padding-left: 15px;
    width: 268px;
    height: 40px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 12px;
    font-family: Montserrat;
}

.main_vector{
    padding-left: 20px;
    height: 36px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
}

.switch_education_point1{
    display: flex;
    justify-content: center;
    flex-direction: column;                                  
    margin-top: 24px;
    margin-left: 96px;
    width: 213px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(153deg, #94F1DE 0%, #5092DE 100%);
    box-shadow: 5px 3px 9px 0px rgba(0, 0, 0, 0.02);

    color: #FFF;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 500;
}

.switch_education_point2{
    display: flex;
    justify-content: center;
    flex-direction: column;                                  
    margin-top: 24px;
    margin-left: 96px;
    width: 213px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D7E9FF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    color: #333;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 500;
}

.switch_education_point3{
    display: flex;
    justify-content: center;
    flex-direction: column;                                  
    margin-top: 24px;
    margin-left: 96px;
    width: 213px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D7E9FF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    color: #333;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 500;
}

.switch_education_image_with_description{
    margin-top: 37px;
    margin-left: 56px;
    width: 283px;
    height: 641px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F6FCFF;
    box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.programmer1{
    top: 31px;
    left:12px;
    position: relative;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  
    color: #1853A0;
  }
  
  
.tab_content1_text{
    padding-left: 25px;
    padding-top: 54px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  
    color: #333333;
  }
  
#tab_content1_text3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
  }

.our_equipment span{
    padding-left: 53px;
    padding-top: 70px;
    display: flex;
    width: 285px;
    height: 37px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
}

.our_equipment img{
    margin-left: 52px;
    margin-top: 31px;
    width: 283px;
    height: 466px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #BCBCBC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.first_lesson_free{
    margin-top: 48px;
    width: 100%;
    height: 1197px;
    flex-shrink: 0;
    background: #5092DE;
    }