@font-face {
    font-family: 'Montserrat';
    src: url('http://hb.bizmrg.com/fonts/montserrat/400.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}  


.header{
    width: 100%;
    height: 182.31vw;
    background: #5092DE;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25) inset;
}

.logo_top{
    width: 30.83vw;
    height: 13.54vw;
    padding-left: 10.17vw;
    padding-top: 4.58vw;
}

.number_top{
    padding-top: 10.21vw;
    position: absolute;
    width: 53.13vw;
    height: 6.88vw;
    color: #FFF;
    text-align: center;
    font-size: 2.92vw;
    font-family: Montserrat;
    font-weight: 700;
}

.content_header{
    width: 88.54vw;
    height: 9.38vw;
    padding-top: 56px;
}

.make_future{
    position: absolute;
    padding-left: 20px;
    width: 88.54vw;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.16px;
}

.make_future_small{
    position: absolute;
    padding-top: 45px;
    padding-left: 60px;
    width: 68.54vw;
    height: 30vw;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: Montserrat;
    font-weight: 500;
}

.children{
    position: absolute;
    margin-top: 76px;
    padding-left: 40px;
    width: 293.639px;
    height: 307px;
    flex-shrink: 0;
}

.button_top{
    position: absolute;
    margin-left: 33px;
    margin-top: 379px;
    border: none;
    width: 333px;
    height: 87px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.button_top:hover {
    transition-duration: 0.1s;
    background-color: #c9c7e4;
    
  }

  .button_top:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }

  .button_top:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  

.button_top_text{
    width: 375px;
    height: 46px;
    color: #1853A0;
    text-align: center;
    font-size: 29px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}

.education_mir_robbo{
    padding-top: 64px;
    display: flex;
    width: 100%;
    height: 27px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 19px;
    font-family: Montserrat;
}

.education_mir_robbo_bottom{
    padding-left: 13px;
    display: flex;
    width: 364px;
    height: 168px;
    justify-content: center;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 15px;
    font-family: Montserrat;
}

.slides_top{
    margin-left: 46px;
    width: 298px;
    height: 430px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F6FCFF;
    box-shadow: 0px 4px 43px 0px rgba(0, 0, 0, 0.07);
}

.slides_top span{
    padding-top: 21px;
    padding-left: 61px;
    display: flex;
    width: 176px;
    height: 39px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 19px;
    font-family: Montserrat;
    font-weight: 700;

}

.slides_top img{
    padding-top: 31px;
    padding-left: 24px;
    width: 250px;
    height: 250px;
}

.slides_top p{
    display: flex;
    padding-top: 19px;
    padding-left: 15px;
    width: 268px;
    height: 40px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 12px;
    font-family: Montserrat;
}

.main_vector{
    padding-left: 20px;
    height: 36px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
}

.switch_education_point1{
    display: flex;
    justify-content: center;
    flex-direction: column;                                  
    margin-top: 24px;
    margin-left: 96px;
    width: 213px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(153deg, #94F1DE 0%, #5092DE 100%);
    box-shadow: 5px 3px 9px 0px rgba(0, 0, 0, 0.02);

    color: #FFF;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 500;
}

.switch_education_point2{
    display: flex;
    justify-content: center;
    flex-direction: column;                                  
    margin-top: 24px;
    margin-left: 96px;
    width: 213px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D7E9FF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    color: #333;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 500;
}

.switch_education_point3{
    display: flex;
    justify-content: center;
    flex-direction: column;                                  
    margin-top: 24px;
    margin-left: 96px;
    width: 213px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D7E9FF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    color: #333;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 500;
}

.switch_education_image_with_description{
    margin-top: 37px;
    margin-left: 56px;
    width: 283px;
    height: 641px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F6FCFF;
    box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.programmer1{
    top: 31px;
    left:12px;
    position: relative;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  
    color: #1853A0;
  }
  
  
.tab_content1_text{
    padding-left: 25px;
    padding-top: 54px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  
    color: #333333;
  }
  
#tab_content1_text3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
  }

.our_equipment span{
    padding-left: 53px;
    padding-top: 70px;
    display: flex;
    width: 285px;
    height: 37px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
}

.our_equipment img{
    margin-left: 52px;
    margin-top: 31px;
    width: 283px;
    height: 466px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #BCBCBC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.first_lesson_free{
    margin-top: 48px;
    width: 100%;
    height: 1197px;
    flex-shrink: 0;
    background: #5092DE;
    }

.first_lesson_free_text_top{
    padding-top: 43px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 38px;
    font-family: Montserrat;
    font-weight: 700;

}

.first_lesson_free_text_bottom{
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
}

.first_lesson_free_block1{
    margin-top: 26px;
    margin-left: 44px;
    width: 306px;
    height: 109px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

.first_lesson_free_block1 span{
    display: flex;
    padding-top: 21px;
    padding-left: 21px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.first_lesson_free_block2{
    margin-top: 26px;
    margin-left: 44px;
    width: 306px;
    height: 109px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

.first_lesson_free_block2 span{
    display: flex;
    padding-top: 21px;
    padding-left: 21px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.first_lesson_free_block3{
    margin-top: 26px;
    margin-left: 44px;
    width: 306px;
    height: 109px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.first_lesson_free_block3 span{
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.first_lesson_free_block4{
    margin-top: 26px;
    margin-left: 44px;
    width: 306px;
    height: 109px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.first_lesson_free_block4 span{
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.first_lesson_free_form{
    margin-top: 33px;
    margin-left: 27px;
    width: 340px;
    height: 348px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(137deg, #77B6FF 0%, #94F1DE 100%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

.first_lesson_free_form span{
    display: flex;
    padding-top: 31px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-family: Montserrat;
    font-weight: 600;
}



.first_lesson_free_form_name{
    margin-top: 23px;
    margin-left: 30px;
    width: 252px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    padding-left: 20px;
}


.first_lesson_free_form_phone{
    margin-top: 18px;
    margin-left: 30px;
    width: 252px;
    padding-left: 20px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
}

.first_lesson_free_form_town{
    margin-top: 18px;
    margin-left: 30px;
    width: 252px;
    padding-left: 20px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
}

.first_lesson_free_form_submit{
    width: 239px;
    height: 55.42px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #1853A0;
    text-align: center;
    font-size: 20px;
    border:none;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 35px;
    margin-left: 51px;
}

.why_parents_choose_us span{
    display: flex;
    padding-top: 45px;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
}

.why_parents_choose_us_block1{
    margin-top: 30px;
    margin-left: 43px;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D7E9FF;
}

.why_parents_choose_us_block1 span{
    display: flex;
    padding-left: 17px;
    padding-top: 40px;
    flex-direction: column;
    flex-shrink: 0;
    text-align: left;
    color: #333;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why_parents_choose_us_block2{
    margin-top: 30px;
    margin-left: 43px;
    width: 303px;
    height: 454px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #77B6FF;
}

.why_parents_choose_us_block2 span{
    display: flex;
    padding-left: 17px;
    padding-top: 40px;
    text-align: left;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why_parents_choose_us_block3{
    margin-top: 30px;
    margin-left: 43px;
    width: 303px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #5092DE;
}

.why_parents_choose_us_block3 span{
    display: flex;
    padding-left: 17px;
    padding-top: 14px;
    text-align: left;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why_parents_choose_us_block4{
    margin-top: 30px;
    margin-left: 43px;
    width: 303px;
    height: 334px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #94F1DE;
}

.why_parents_choose_us_block4 span{
    display: flex;
    padding-left: 17px;
    padding-top: 37px;
    text-align: left;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why_parents_choose_us_block5{
    margin-top: 30px;
    margin-left: 43px;
    width: 303px;
    height: 224px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #77B6FF;
}

.why_parents_choose_us_block5 span{
    display: flex;
    padding-left: 17px;
    padding-top: 20px;
    text-align: left;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why_parents_choose_us_block6{
    margin-top: 30px;
    margin-left: 43px;
    width: 303px;
    height: 573px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #1853A0;
}

.why_parents_choose_us_block6 span{
    display: flex;
    padding-left: 17px;
    padding-top: 30px;
    text-align: left;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why_parents_choose_us button{
    width: 303px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 100px;
    background: linear-gradient(179deg, #5092DE 0%, #94F1DE 100%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.07);
    border: none;
    margin-top: 55px;
    margin-left: 42px;

    color: #F5F5F5;
    text-align: center;
    font-size: 21px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}

.how_much{
    margin-top: 47px;
    margin-left: 43px;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F6FCFF;
    box-shadow: 0px 4px 43px 0px rgba(0, 0, 0, 0.07);
}

.works_student_top{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
}

.works_student_slides{
    margin-left: 54px;
    margin-top: 22px;
    width: 283px;
    height: 466px;
    flex-shrink: 0;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.works_student button{
    margin-top: 43px;
    margin-left: 44px;
    width: 303px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 100px;
    background: linear-gradient(179deg, #5092DE 0%, #94F1DE 100%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.07);
    border: none;

    color: #F5F5F5;
    text-align: center;
    font-size: 21px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}


.FAQ_text_top{
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
}

.FAQ_line{
    margin-top: 23px;
    margin-bottom: 19px;
    width: 322px;
    height: 1px;
    background: #333;
}

.FAQ_block_question1{
    padding-left: 42px;
    width: 277px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 23px;
    font-family: Montserrat;
}

.FAQ_block_question2{
    padding-left: 42px;
    width: 277px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 23px;
    font-family: Montserrat;
}

.FAQ_block_question3{
    padding-left: 42px;
    width: 277px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 23px;
    font-family: Montserrat;
}

.FAQ_block_question4{
    padding-left: 42px;
    width: 277px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 23px;
    font-family: Montserrat;
}

.FAQ_block_question5{
    padding-left: 42px;
    width: 277px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 23px;
    font-family: Montserrat;
}

.FAQ_block_question6{
    padding-left: 42px;
    width: 277px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    font-size: 23px;
    font-family: Montserrat;
}

.have_a_question{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #333;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 700;
}

.have_a_question_form{
    margin-top: 23px;
    margin-left: 30px;
    width: 323px;
    height: 456px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(137deg, #5092DE 0%, #94F1DE 100%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);

}

.have_a_question_form span{
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 600;
}

.have_a_question_form_name{
    margin-top: 15px;
    margin-left: 17px;
    width: 270px;
    padding-left: 20px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
}

.have_a_question_form_number{
    margin-top: 15px;
    margin-left: 17px;
    width: 270px;
    padding-left: 20px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
}

.have_a_question_form_question{
    margin-top: 15px;
    margin-left: 17px;
    width: 270px;
    padding-left: 20px;
    padding-bottom: 68px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
}

.have_a_question_form button{
    margin-top: 35px;
    margin-left: 26px;
    width: 272px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FFF;
    border: none;

    color: #1853A0;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}

.footer{
    margin-top: 71px;
    width: 100%;
    height: 955px;
    flex-shrink: 0;
    background: #5092DE;
}

.img_mir_robbot_footer{
    padding-top: 26px;
    padding-left: 17px;
    width: 225px;
    height: 94px;
}

.our_social_bottom{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-family: Inter;
}

.our_social_bottom_image{
    display: flex;
    justify-content: space-around;
}

.icon_instagam_footer{
    width: 52px;
    height: 52px;
    padding-top: 22px;
    padding-left: 122px;
}

.icon_vk_footer{
    width: 52px;
    height: 52px;
    padding-top: 22px;
    padding-right: 122px;
}

.bottom_line{
    position: absolute;
    margin-top: 28px;
    margin-left: 34px;
    width: 323.025px;
    height: 1px;
    background: #FFF;
}

.button_bottom{
    width: 304px;
    height: 42.12px;
    margin-top: 50px;
    margin-left: 40px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.00);


    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
}

.contacnt_bottom{
    display: flex;
    padding-top: 28px;

    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
}

.block_img_contact_bottom{
    display: flex;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
}

.block_img_contact_bottom img{
    width: 52px;
    height: 52px;
}

.number_bottom_mobile{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.information_footer_mobile{
    display: flex;
    padding-top: 51px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.information_footer_mobile2{
    display: flex;
    padding-top: 42px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TM_footer_mobile{
    display: flex;
    padding-top: 77px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}